.section
{
    width: auto; 
    margin: auto; 
    border: 2px solid rgb(197, 197, 197);
    box-shadow: 0px 1px 3px #000000;
    text-align: justify;
    padding: 12px;
    margin-bottom: 20px;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    color: #666;
    margin: 0 0 30px 0;
    letter-spacing: 4px;
    font: normal 26px/1 Verdana, Helvetica;
    position: relative;
    font-size: large;
}