 

.section
{
    width: auto; 
@ -11,9 +10,9 @@
    margin-bottom: 20px;
}

img {
    width: 500;
    height: 500;
img{
    width: 250px;
    height: 255px;
    float:left;
}

@ -32,3 +31,9 @@ aside{
    color: indigo;
    overflow:hidden;
}

.size{
    font-size: 20px;
    padding-bottom: 1%;
    margin-left: 85%;
}